.admin-login-form{
	padding-top: 100px;
}
.admin-navbar {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #2a3855!important;
	color: #fff!important;
}
.admin-page-active{
	color: #fff!important;
}
.admin-navbar a, .admin-navbar .nav-item .nav-link{
	color: #fff!important;
}
.admin-navbar .navbar-toggler{
	background-color: #ffd93a!important;
	font-size: unset;
}
.admin-navbar .btn-secondary{
	background: #ffd93a!important;
	color: #2a3855!important;
	padding: 0px 25px;
}
.sub-body{
  min-height: 600px;
	position: relative;
  background-color: #ececec;
}
.admin-sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.admin-sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
      color: #818181;
    border-bottom: 1px solid #818181;
  display: block;
}

.admin-sidebar a:hover {
  color: #f1f1f1;
}

.cms-body{
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
.admin-footer{
	background: #fff;
    z-index: 9;
    position: relative;
}
.product-form{
  padding: 30px;
}
.alert-message{
  padding-top: 15px;
}
.product-list-admin{
  background: #fff;
    box-shadow: 3px 4px 3px 0px #c5c5c5;
    padding: 20px;
    margin-bottom: 30px;
}
.product-list-admin img{
  width: 100%;
}
.btn-danger{
  background-color: #cc120c!important;
}
.product-list-admin-btn{
  text-align: right;
  margin: auto;
}
.product-list-admin-btn a{
  margin: 5px;
}
@media screen and (max-width:574px){
  
.product-list-admin-btn .product-delete{
  float: right;
}.product-list-admin-btn .product-view{
  float: left;
}
.product-list-admin-btn{
  margin: auto;
  text-align: center;
}
}